
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root{

    /*COLORES*/
    --body-color: #E4E9F7;
    --sidebar-color: #fff;
    --primary-color: #070239;
    --primary-color-light: #F6F5FF;
    --toogle-color: #DDD;
    --text-color: #707070;
    --btn-editar:#3498db;
    --btn-agregar: #27ae60;
    --btn-eliminar: #e74c3c;
    /*TRANSICIONES*/
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body.dark{
    /*COLORES*/
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toogle-color: #FFF;
    --text-color: #CCC;
    --btn-editar:#034774;
    --btn-agregar: #02632a;
    --btn-eliminar: #991101;
}

  .titulo-cliente-cl{
      text-align: center;
      font-size: 40px;
      padding: 10px;
      padding-top: 20px;
      color: var(--text-color);
  }
  .descripcion{
      text-align: center;
      padding: 5px 25px;
      color: rgb(53, 53, 53);
  }

  .detalle-texto-cliente {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .detalle-texto-cliente span {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
  }
  
  .detalle-texto-cliente span:not(:last-child) {
    margin-right: 0.5rem;
  }
  
  .card_datos_cliente{
      width: 100%;
      display: flex;
      gap: 50px;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 5px;
  }
  .card__perfil{
    
        background: var(--sidebar-color);
      width: 380px;
      padding: 20px;
      box-shadow: 1px 1px 5px rgb(201, 201, 201);
      border: solid rgba(3, 133, 255, 0) 2px;
      border-radius: 10px;
  }

  .img-cliente{
    width: 140px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgb(216, 216, 216);
    transform: rotate(-10deg);
    transition: all .3s;
}

  .btn-editar-cliente {
    background-color: var(--btn-editar); 
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    color: white;
}

.btn-crear-mascota  {
    background-color: var(--btn-agregar); 
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    color: white;
}

.btn-crear-mascota:hover  {
    background: #4ad784;
    transition: var(--tran-04);
    box-shadow: 2px 2px 5px rgb(216, 216, 216);
}

.btn-editar-cliente:hover  {
    background: #62b4ea;
    transition: var(--tran-04);
    box-shadow: 2px 2px 5px rgb(216, 216, 216);
}

.btn-eliminar-cliente  {
    background-color: var(--btn-eliminar); 
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    color: white;
}


.btn-eliminar-cliente:hover  {
    background: #f77061;
    transition: var(--tran-04);
    box-shadow: 2px 2px 5px rgb(216, 216, 216);
}

  .card__perfil:hover{
      border: solid rgb(62, 158, 248) 2px;
  }
  .card__perfil:hover img{
      transform: rotate(0);
  }
  .card__nombre{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      padding-bottom: 30px;
  }
  hr{
      width: 100%;
      height: 4px;
      background: rgb(223, 221, 221);
      margin: 20px 5px;
  }
  .card__button{
      text-align: center;
      display: flex;
      justify-content: space-around;
  }
  .enlace{
      background: var(--primary-color);
      padding: 8px 20px;
      color: white;
      text-decoration: none;
  }